@model MyMovie.Models.ViewModels.TicketNew

@{
    ViewData["Title"] = "New";
}
<div class="container-fluid bg-dark p-3 text-white">
    <h1 class="text-center">Book a Ticket</h1>
</div>
<div class="container-fluid bg-light p-3 text-dark mb-3">
        <div class="container row align-items-center">
            <div class="col-md-6">
                <a asp-action="List" class="btn btn-warning shadow">Back to Ticket List</a>
            </div>
        </div>
        <div class="row justify-content-center mb-3">
            <form method="POST" asp-action="Add" class="form col-md-4 bg-white text-dark p-md-3 rounded-2 shadow">

                    <div class="form-group mb-3">
                        <label for="ticket_no" class="control-label fw-bolder fs-5">Ticket No.</label>
                        <input name="ticket_no" class="form-control" />
                    </div>
                    <div class="form-group mb-3">
                        <label for="movie_id" class="control-label fw-bolder fs-5">Movie Name</label>
                        <select name="movie_id" class="form-control">
                            <option value="" selected disabled>--Please select--</option>
                        @foreach (MovieDto MovieDto in Model.AllMovies)
                        {
                                <option value="@MovieDto.movie_id">#@MovieDto.movie_id @MovieDto.movie_name </option>
                        }
                        </select>
                        <p class="fs-6 fst-italic text-danger">Cannot find a movie? Click <a href="/MoviePage/New" class="fw-bolder">here</a> to create a new movie</p>
                    </div>
                    <div class="form-group mb-3">
                        <label for="customer_id" class="control-label fw-bolder fs-5">Viewer Name</label>
                        <select name="customer_id" class="form-control">
                            <option value="" selected disabled>--Please select--</option>
                        @foreach (ViewerDto ViewerDto in Model.AllViewers)
                        {                            <option value="@ViewerDto.customer_id">#@ViewerDto.customer_id @ViewerDto.first_name @ViewerDto.last_name</option>

                        }
                        </select>
                        <p class="fs-6 fst-italic text-danger">Cannot find a viewer? Click <a href="/ViewerPage/New" class="fw-bolder">here</a> to create a new viewer</p>
                    </div>
                    <div class="form-group pb-3">
                <input type="submit" value="Book" class="btn btn-warning w-100" />
                    </div>
        </form>
    </div>
</div>
</div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

