@model MyMovie.Models.ViewModels.TicketNewFromViewer

@{
    ViewData["Title"] = "New";
}

<div class="container-fluid bg-dark p-3 text-white">
    <h1 class="text-center">Book a Ticket - @Model.ViewerDto.first_name @Model.ViewerDto.last_name</h1>
    <div class="container-fluid bg-light p-3 text-dark" style="height: 70vh">
        <div class="container align-content-center">
            <div class="d-flex flex-row justify-content-between pb-5">              
                <a asp-controller="ViewerPage" asp-action="Details" asp-route-id="@Model.ViewerDto.customer_id" class="btn btn-warning shadow">Back to Viewer Details</a>
                <a asp-action="List" class="btn btn-warning shadow">Back to Ticket List</a>
            </div>
        </div>
       <div class="row justify-content-center">
        <form method="POST" asp-action="Add" asp-controller="TicketPage" class="form col-md-4 bg-white text-dark p-md-3 rounded-2 shadow">
                <input type="hidden" name="customer_id" value="@Model.ViewerDto.customer_id" />
                <div class="form-group mb-3">
                    <input type="hidden" name="ticket_id" value="@Model.Ticket.ticket_id" />
                </div>
                <div class="form-group mb-3">
                    <label for="ticket_no" class="control-label fw-bolder fs-5">Ticket No.</label>
                    <input name="ticket_no" class="form-control" value="@Model.Ticket.ticket_no" />
                </div>
                <div class="form-group mb-3">
                    <label for="movie_id" class="control-label fw-bolder fs-5">Movie</label>
                    <select name="movie_id">
                        <option value="" disabled selected>-- Please select a movie --</option>
                        @foreach (MovieDto MovieDto in Model.AllMovies)
                        {
                            <option value="@MovieDto.movie_id">#@MovieDto.movie_name </option>
                        }

                    </select>
                    <p class="fs-6 fst-italic text-danger">Hard to make a choice? Click <a href="/MoviePage/List" class="fw-bolder">here</a> to check movie description</p>
                </div>
                <div class="form-group">
                    <input type="submit" value="Book" class="btn btn-warning w-100" />
                </div>
            </form>
        </div>
    </div>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

